{% ckan_extends %}

{% block package_basic_fields_custom %}
  <div class="form-group">
    <label class="control-label" for="field-region">{{ _("地區") }}</label>
    <div class="controls">
      <select multiple id="field-region" name="region" data-module="autocomplete">
        {% for region in h.regions()  %}
          <option value="{{ region }}" {% if region in data.get('region', []) %}selected="selected"{% endif %}>{{ region }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="field-datasource">{{ _("資料來源") }}</label>
    <div class="controls">
      <select multiple id="field-datasource" name="datasource" data-module="autocomplete">
        {% for datasource in h.datasources()  %}
          <option value="{{ datasource }}" {% if datasource in data.get('datasource', []) %}selected="selected"{% endif %}>{{ datasource }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="field-updatefreq">{{ _("頻率") }}</label>
    <div class="controls">
      <select multiple id="field-updatefreq" name="updatefreq" data-module="autocomplete">
        {% for updatefreq in h.updatefreqs()  %}
          <option value="{{ updatefreq }}" {% if updatefreq in data.get('updatefreq', []) %}selected="selected"{% endif %}>{{ updatefreq }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ form.input('start_date', label=_('Start Date'), id='field-start_date', placeholder=_('start date'), value=data.start_date, error=errors.start_date, classes=['control-medium']) }}
  {{ form.input('end_date', label=_('End Date'), id='field-end_date', placeholder=_('end date'), value=data.end_date, error=errors.end_date, classes=['control-medium']) }}
  {{ form.input('last_update_date', label=_('Last Update Date'), id='field-last_update_date', placeholder=_('last update date'), value=data.last_update_date, error=errors.last_update_date, classes=['control-medium']) }}

{% endblock %}
